<div class="box">
  	<%= link_to (image_tag knowledge.image(:medium)), knowledge %>
  	<div class="desc">
    <p>
    <%= knowledge.description %>
    </p>
</div>
<p>
<strong>
	Posted by <%= knowledge.user.name %>
</strong>
</p>
    <p>
    <% if current_user == knowledge.user %>
	    <%= link_to 'Edit', edit_knowledge_path(knowledge) %>
	    <%= link_to 'Destroy', knowledge, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
    <% end %>
</div>